.App {
  text-align: center;
  background-color: #ece8e6; 
  height: 100%;
  margin: 80px 255px 40px 295px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}






